# SUPER STORE DATA ANALYSIS


Thias Dataset belongs to a Superstore Giant in the USA ,it contains a total of 9994 data. 

# AIM :The purpose of this analysis is to ascertain whether Sales have improved across the factors that have been indicated as potential influencing factors for this superstore 


# Potential factors 

1. Order Date => Order Date of the product.
2. Segment => The segment where the Customer belongs.
3. City => City of residence of of the Customer.
4. State => State of residence of the Customer.
5. Category => Category of the product ordered.

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('Superstore editted.csv', encoding='windows-1252', parse_dates=['Order Date', 'Ship Date']) #saved to right file format for my device

In [3]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,3783,CA-2017-165204,2017-11-13,2017-11-16,Consumer,United States,Memphis,Tennessee,38109,South,...,Office Supplies,Paper,"""While you Were Out"" Message Book, One Form pe...",8.904,3,0.2,3.3390,3,0.2,3.3390
1,1990,CA-2015-127509,2015-11-09,2015-11-13,Consumer,United States,Springfield,Missouri,65807,Central,...,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Recycled Envelopes",26.22,3,0,12.3234,3,0.0,12.3234
2,2949,CA-2017-169859,2017-12-14,2017-12-18,Home Office,United States,San Diego,California,92024,West,...,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Recycled Envelopes",43.7,5,0,20.5390,5,0.0,20.5390
3,4993,CA-2015-153038,2015-12-18,2015-12-25,Corporate,United States,Memphis,Tennessee,38109,South,...,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Recycled Envelopes",55.936,8,0.2,18.8784,8,0.2,18.8784
4,5689,CA-2014-131541,2014-07-28,2014-07-28,Consumer,United States,Apopka,Florida,32712,South,...,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Recycled Envelopes",48.944,7,0.2,16.5186,7,0.2,16.5186

In [4]:
data.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,2121,US-2017-168690,2017-01-07,2017-01-13,Consumer,United States,Ormond Beach,Florida,32174,South,...,Office Supplies,Binders,Zipper Ring Binder Pockets,2.808,3,0.7,-1.9656,3,0.7,-1.9656
9990,7312,CA-2015-162761,2015-10-09,2015-10-13,Consumer,United States,Miami,Florida,33178,South,...,Office Supplies,Binders,Zipper Ring Binder Pockets,1.872,2,0.7,-1.3104,2,0.7,-1.3104
9991,5274,US-2016-158309,2016-11-26,2016-11-29,Home Office,United States,Miami,Florida,33142,South,...,Office Supplies,Binders,Zipper Ring Binder Pockets,3.744,4,0.7,-2.6208,4,0.7,-2.6208
9992,3408,US-2014-150119,2014-04-23,2014-04-27,Home Office,United States,Columbus,Ohio,43229,East,...,Office Supplies,Binders,Zipper Ring Binder Pockets,7.488,8,0.7,-5.2416,8,0.7,-5.2416
9993,7896,CA-2017-124744,2017-06-21,2017-06-25,Home Office,United States,Wheeling,West Virginia,26003,East,...,Office Supplies,Binders,Zipper Ring Binder Pockets,6.24,2,0,3.0576,2,0.0,3.0576

In [5]:
data.shape      # they are 9994 rows and 21 columns

(9994, 21)

In [6]:
data.describe()

            Row ID         Sales     Quantity     Discount       Profit
count  9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   4997.500000    105.466244     3.789574     0.156203    28.656896
std    2885.163629    410.990504     2.225110     0.206452   234.260108
min       1.000000  -3701.892800     1.000000     0.000000 -6599.978000
25%    2499.250000      4.852575     2.000000     0.000000     1.728750
50%    4997.500000     17.522000     3.000000     0.200000     8.666500
75%    7495.750000     72.168000     5.000000     0.200000    29.364000
max    9994.000000  17499.950000    14.000000     0.800000  8399.976000

In [7]:
data.info() # no missing value in the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   object
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(14)
memory usage: 1.6+ MB

**observation**
1. most of my data cleaning was done on excel , the data set contain no null or empty rows and column 
2. however the order date had some cells that carry date in the wrong format which i corrected on Excel

# VISUALIZATION

i will be working with the following factors as a predictor for sales made

1. Order Date => Order Date of the product.
2. Segment => The segment where the Customer belongs.
3. City => City of residence of of the Customer.
4. State => State of residence of the Customer.
5. Category => Category of the product ordered.

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   object
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(14)
memory usage: 1.6+ MB